* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	/*color: #333;*/
}



/*start nav*/

/*#ikoniq-top {
	height: 12vh;
}*/


#nav-list .nav-item .nav-link {
	font-weight: 900;
	font-size: 1em;

}

/*#nav-list .nav-item .nav-link:hover {
	border-bottom: 2px solid orange;
}*/

#nav-list .active > .nav-link {
	color: #d3562b;
	font-weight: 900;
}


/*landing page*/


#landing-page {
	height: 100vh;
	width: 100vw;
	background-image: url(../images/gradient-bg.jpg);
	background-size: cover;
}

#center-land {
	text-align: center;
}

#logo-land {
	margin-top: 15vh;
	height: 35vh;
	margin-bottom: 12vh;
}

#landing-slogan {
		color: #d3562b;
		font-weight: 700;
		letter-spacing: 3px;
		font-size: 37.96px;
		/*margin-bottom: 100px;*/
		font-family: 'PT Sans', sans-serif;
	}

	#landing-slogan > strong {
			font-family: 'PT Sans', sans-serif;
	}


.link {
	/*margin-top: 10vh;*/
	color: #0a7bb1; /*blue link*/
	text-decoration: underline;
	font-size: 1rem;
}

.arrow {
	width: 1.5rem;
}

#links-div {
	margin-top: 15vh;
	font-size: 18px;
}

/*end landing*/


/*navbar*/


#navbar-white {
	z-index: 999 !important;
	background-color: white;
	width: 100%;
	position: relative;
}

#nav-logo {
	height: 100%;
	width: 8vw;
}

/*end nav*/

/*home*/
#container-home {
	height: 100%;
	width: 100%;
	max-width: 3000px;
	min-width: 300px;
	padding-right: 0;
	background-image: url(../images/gradient-bg.jpg);
	background-size: cover;
}

.scroll-space {
	margin-right: 2em;
}

#home-row {
	/*width: 100%;*/
	padding: 0;
	margin: 0;
}

#home-left {
	padding-left: 0;
}

#pool-pic {
	height: 90vh;
}

.right-part {
	font-size: 2rem;
	font-weight: 900;
	color: #d3562b;
	background: linear-gradient(to right,transparent 50%, #eca117 50%);
	background-position: 0;
	background-size: 200%;
  	transition: all 0.4s;
}

/*#span-on {
	font-weight: 900 !important;
}*/

span.right-part:hover {
	color: #20272d;
	background-color: #ECA117;
	background-position: -100%;
	font-weight: 900 !important;
}

.par-home {
	font-family: 'Montserrat', sans-serif;
	color: #231f20;
	font-size: 0.85rem;
	font-weight: 700;
}

#home-ps {
	width: 30vw;
}

.links {
	color: #0a7bb1; /*blue link*/
	text-decoration: underline;
	font-size: 1rem;
}


/*end home*/

/*start quote*/
#container-quote {
	height: 100vh;
	width: 100%;
	background-image: url(../images/gradient-bg.jpg);
	background-size: cover;

}

.orange-quote {
	letter-spacing: 0.075em;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;


}


#logo-quote {
	height: 5em;
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	bottom: -80px;
	/*background-color: white;*/
	padding-right: 50px;
	padding-left: 50px;
		/*background-image: url(../images/gradient-bg.jpg);*/
}

#quote-border {
	padding-top: 15%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 15%;
	border-left: 5px solid #d3562b;
	border-top: 5px solid #d3562b;
	border-right: 5px solid #d3562b;
	position: relative;
	/*border-image-bottom: url(../../assets/images/borderbottom.png);*/
	/*background-image: url(../../assets/images/borderbottom.png);*/
}


#bot-left {
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 5px solid #d3562b;
}

#bot-right {
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 5px solid #d3562b;
}

.medium {
	color: #273036;
	font-family: 'Montserrat', sans-serif;
	
}

.font-italic {
	font-family: 'Montserrat', sans-serif;
	color: #d3562b;
}

#gallery-landing {
	height: 80%;
	width: 100vw;
	background-image: url(../images/pattern.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 5%;
	padding-top: 5%;
	margin: 0 auto;
}

#bottom-row {
	margin-top: 5%; 
}


.card {
	
	width: 250px;
	height: 100%;
	-moz-box-shadow: 10px 10px rgb(228,76,43);
	-webkit-box-shadow: 10px 10px rgb(228,76,43);
	box-shadow: 10px 10px rgb(228,76,43);
	background-color: orange;
}

.card-title {
	/*font-size: 24px;*/
}

.card-desc {
		color: white;
	}

#house:hover {
	/*opacity: 0.5;*/
	background-image: url(../images/h1-hover.jpg);

}

.card-body {
	background-color: #0a7bb1;
	color: white;
}

.card-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 12px;
}

#left {
	margin-top: 5%;
}

#left img.img-left {
	height: 200px;
	/*margin-top: 10%;*/
}

#footer {
	height: 100%;
	background-color: #d3562b;
	width: 100vw;
	color: #e2e2e3;
	text-align: center;

}

#footer-top {
	padding-top: 50px;
}

#footer-link {
	display: inline-block;
	padding-bottom: 50px;
}


#span-footer {
	color: #e2e2e3;
	font-size: 1.75rem;
}

#span-footer:hover {
	color: black;
	font-weight: 900;
}

#res-container {
	height: 90.75vh;
}

#reyes-container {
	height: 70vh;
}

#resi-head {
	display: inline-block;
	margin: 3%;
	padding: 10px 15px;
	padding-right: 250px;
	background-color: #eca117;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: 800;
}


#service-head {
	display: inline-block;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10px 15px;
	background-color: #eca117;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: 800;
}

.reyes-link {
	text-decoration: none;
	color: #fff;
}

.reyes-link:hover {
	color: orange;
	border-bottom: none;
}


#list-service > a > li.list-group-item {
	border-top: none;
	background-image: url(../images/service-bg.jpg);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: #231f20;
	font-size: 24px;
	margin-bottom: 4.35%;

}

#left-service {
	padding-left: 0;
	position: relative;

}

.page-buttons {
	position: absolute;
	bottom: 0;
	left: 0;
}

.prev-button {
	margin-right: 10px;
}

#nested-gallery .serv-gal {
	height: 29vh;
}

#rey-nest-gallery {
	width: 100%;
	margin-left: 10%;

}

#nested-gallery {
	padding-top: 10%;
	width: 100%;
	margin-left: 10%;

}

#service-con {
	background-image: url(../images/service-bg.jpg);
	height: 100%;
}

#ser-con2 {
	padding-bottom: 18vh;
}

.first-image {
	width: 100%;
	height: 100%;
	background-color: orange;
}

.second-image {
	width: 100%;
	height: 100%;
	background-color: red;
}

#res-homes {
	color: #d3562b;
	font-weight: 700;
	font-size: 1em;
}

#proj {
	margin-top: 5%;
}

#reyes-bigpic {
	height: 60vh;
}

#res-bigpic {
	position: relative;
	background-image: url(../images/res-1.jpg);
	background-size: cover;
	height: 60vh;
}

#res-bigpic .res-tag {
	position: absolute;
	background-color: #273036;
	color: #ffffff;
	bottom: 0;
	left: 0;
	font-family: "Montserrat",sans-serif;
	visibility: visible;

}

#res-bigpic small,strong {
		font-family: "Montserrat",sans-serif;

}

.hide {
	visibility: hidden;
}







/*client journey*/

#myScrollspy {
	background-color: #20272d;
	color: #ffffff;
	text-decoration: none;
}


#myScrollspy a {
	color: #ffffff;
	font-family: "Montserrat",sans-serif;
	font-weight: 700;
}

#myScrollspy > h1 {
	font-size: 46px;
}

.proj-list {
	text-indent: 25px;
}

.back-to {
	text-decoration: none;
	color: #333;
}

.big-pic {
	position: relative;
}

.tag {
	background-color: #273036;
	color: #fff;
	position: absolute;
	bottom: 20px;

}

#section0 {
	background-color: #eca117;
}

#section1 {
	position: relative;
}

#faq1-hold {
	/*padding: 50px;*/
}

#sec-2 .active {
	background-color: #e5801f;
	/*padding-right: 150px;*/
}

#sec-3 .active {
	background-color: #eca117;
}

#sec-4 .active {
	background-color: #0a7bb1;
}


#sec-5 .active {
	background-color: #46505c;
}

#sec-6 .active {
	background-color: #273036;
}

/*about*/

#about-container {
	height: 200vh;
	width: 100%;
	background-image: url(../images/about-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.mis-vis {
	background-color: #eca117;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	display: inline-block;
	/*border-radius: 3px;*/
}

#about-par {
	color: #fff;
}

#vision-con {
	position: absolute;
	margin-top: 15%;
}

#mission-bot {
	padding-top: 120vh;
	margin: 0 auto;
}

#about-para {
	font-family: "Montserrat", sans-serif;
}

#left-contact {
	height: 92vh;
	background-color: #d3562b;
	padding-top: 15%;
	color: #fff;

}

#contact-span {
	background-color: #eca117;
	display: inline-block;
	color: #20272d;
	font-size: 2em;
	width: 80%;
	margin-left: 8%;
	padding-left: 0.5em;
	/*padding-right: 0.5em;*/
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-align: left;
	text-indent: 0;
}

#mid-form {
	height: 88vh;
	position: relative;
}

#form-contact {
	padding-top: 25%;
	/*position: relative;*/
}

#form-button {
	background-color: #d3562b;
	color: #fff;
}

.form-row {
	position: relative;
}

.btn {
	position: absolute;
	right: 0;
	bottom: -70px;
}

.small-text {
	position: absolute;
	bottom: 15px;

}

.small-text em {
	font-family: "Montserrat", sans-serif;
	font-size: 0.85em;
}


.con-deets {
	font-size: 1em;
	font-family: "Montserrat", sans-serif;
}

#address-first {
	font-size: 0.95em;
}

#address-con {
	font-size: 0.95em;
}

#right-contact {
	position: relative;
}

#contact-list {
	padding-top: 25%;

}

#faqs-head {

	/*display: inline-block;*/
	display: inline-block;
	margin-bottom: 10%;
	padding: 10px 15px;
	background-color: #eca117;
	font-family: 'PT Sans', sans-serif;
	/*letter-spacing: 1px;*/
	font-weight: 800;
	color: #273036;

}

#faqs-left {
	/*position: fixed;*/
	height: 100vh;
	background-color: #273036 !important;
	z-index: 9999 !important;
}


  #faqs-right {
  	background-color: #e2e2e3;
  }

  #faqs-scroll {
  	list-style: disc;
  }

  .first-serv {
  	margin-bottom: 2vh;
  }


  	img#first-small {
		margin-bottom: 3.5vh;
	}

	.nest-small {
		position: relative;
	}














/*media queries*/


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 


	#landing-logo {
		height: 30vh;
	}


	#landing-slogan {
		font-size: 1rem;
		text-align: center;
	}

	#nav-logo {
		width: 20vw;
	}

	#container-home {
		height: 100%;
		width: 100%;
	}
	#home-left {
		width: 100%;
		padding-right: 0;
	}


	.right-part {
		display: block;
		margin-top: 5% !important;
		font-size: 1rem;
		text-align: center;
		line-height: 2rem;
	}

	#pool-pic {
		padding-right: 0;
		width: 100%;
		height: 60vh;
	}

	#container-quote {
		height: 120vh;
	}

	#container-gall {
		padding: 0;
	}

	#container-gall .col-12 {
		margin-bottom: 2em;
		/*padding-left: 15%;*/
	}


	.card-desc {
		color: white;
	}

	#footer h3, #span-footer, small {
		font-size: 1em;
	}

	.par-home {
		font-size: 0.75rem;
	}

	#home-ps {
		width: 100%;
		text-align: justify;
	}

	.links {
		text-align: center;
	}

	#res-par {
		text-align: justify;
		/*margin: 0 auto;*/
	}

	#service-con {
		height: 100%;
	}

	#ser-con2 {
		padding-bottom: 0;
	}

	.serv-gal {
		width: 100%;
	}

	#res-container {
		height: 100%;
	}

	#about-container {
		height: 100%;
	}

	#vision-con {
		margin-top: 30vh;
	}

	#contact-container {
		height: 100vh;
	}

	#left-contact {
		height: 100%;
		width: 100%;
		background-color: #d3562b;
		color: #fff;

	}

	#contact-span {
		display: inline-block;
		font-size: 0.75em;
	}

	#faqs-left {
		position: relative;
		height: 100%;
	}


	#client-head {
		margin-bottom: 0;
		text-align: center;
	}

	#resi-head {
		font-size: 1.75em;
		padding-right: 2em;
	}

	#reyes-container {
		height: 100%;
	}



 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

	#landing-logo {
		height: 70vh;
	}

	#container-gall .col-md-4 {
		margin: 0 auto;
	}




 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

	#landing-logo {
		height: 30vh;
	}

	#slogan {
		font-size: 2rem;
	}

	#pool-c {
		width: 100%;
		height: 100%;
	}

	.par-home {
		font-size: 0.70rem;
	}


	#home-ps {
		width: 80%;
	}

	#service-head {
		font-size: 2.5em;
	}

	#nested-gallery {
		margin-top: 15%;
	}

	#nested-gallery .serv-gal {
	height: 29vh;
	}



	#res-homes {
		font-size: 0.90em;
	}

	#ser-con2 {
	padding-bottom: 20.8vh;
	}

	#res-container {
		padding-bottom: 94.5vh;
	}



 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

	#landing-logo {
		height: 30vh;
	}

	#slogan {
		font-size: 2.75rem;
	}

	#pool-pic {
		width: 100%;
		height: 100%;
	}

	.right-part {
		font-size: 2.5rem;
		display: inline;
	}

	.par-home {
		font-size: 0.85rem;
	}

	#home-ps {
		width: 70%;
	}



}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }






